<!DOCTYPE html>
<html>
      <head>
           <title>  task4</title>
            <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>
              <h2>{{>header}} </h2>
                <h2 class="title-page"> {{title}}  </h2>
              <container class="hbs-container">
           
             <h2><b>instagrame: </b>{{instagrame}} </h2>
             <h2><b>phone :</b>   {{ phone }} </h2>
             <h2><b>facebook :</b>   {{facebook}} </h2>
             <h2> <b> whatsapp  :</b> {{ whatsapp}} </h2>
             </container>
            
             <h2>{{>footer}}</h2>

      </body>
</html>
